
/* PCLLAB Styling */
:root {
  --pcllab-darker-bg-color: #212121;
  --pcllab-darker-bg-color--light: #313131;
  --pcllab-dark-bg-color: #414141;
  --pcllab-dark-bg-color--light: #515151;
  
  --pcllab-light-bg-color: #eeeeee;
  --pcllab-light-fg-color: #616161;
}

/* Theme Overrides */
[data-md-color-primary="black"] {
  --md-typeset-a-color: #d2b063;

  --md-footer-bg-color: var(--pcllab-light-bg-color);
  --md-footer-fg-color: var(--pcllab-light-fg-color);
}
[data-md-color-primary="black"] .md-header{
  background-color: var(--pcllab-darker-bg-color);
}
[data-md-color-accent="amber"] {
  --md-accent-fg-color: #e2ce58;
}

/* Typography Overrides */
.md-typeset :is(h2, h3, h4, h5, h6) {
  margin: 0;
}
.md-typeset h1 {
  color: var(--md-primary-fg-color)
}