.md-typeset a {
    color: #C28E0E;
    /* C28E0E */
}

/* Navbar */
.md-nav__link--active {
    color: #C28E0E;
}

/* .md-header {
    background-color: #212121;
    min-height: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
} */

.md-header {
    height: 3rem;
    background: #212121 !important;
}

.md-header-nav .md-flex {
    height: 3rem;
}

.md-header-nav .md-flex .md-flex__cell {
    vertical-align: middle;
}

.md-header-nav__topic {
    line-height: 3rem;
    font-weight: 200;
}

/* Sidebar on Left */
/* This hides the sidebar on the left */
/* .md-sidebar--primary {
    display: none;
} */


/* Footer */
.md-footer-nav {
    display: none;
}

.md-footer-meta {
    background-color: #EEEEEE !important;
}

.footer {
    position: relative;
    /* padding-top: 30px; */
    text-align: center;
    background-color: #EEEEEE;
    color: #616161;
    height: 80px;
    font-size: 14px;
    /* bottom: 0; */
    /* position: absolute; */
    width: 100%;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 9px;*/
}

.footer-text {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 44%;
    text-align: center;
    color: #616161;
}

#text {
    background-color: #EEEEEE !important;
}

.image-center {
    display: block;
    margin: 0 auto;
}

.img-bulb {
    height: 144px;
}

/* @media only screen and (max-width: 76.1875em)
html .md-nav--primary .md-nav__title--site {
    background-color: #212121
} */