.people-row {
  display:flex;
  align-items: center;
  margin-bottom: 2rem;
}
.people-img {
  object-fit: cover;
  margin-bottom: 1rem;
  width:200px;
}

@media (min-width:992px) {
  .people-row {
    align-items: flex-start;
  }
  .people-img {
    margin-right: 1rem;
  }
}
