<nav class="navbar navbar-expand-lg navbar-dark pcllab-navbar w-100">
	<div class="nav-container">
		<a class="navbar-brand" href="#">Cognition and Learning Lab</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link ml-1 mr-1 rounded" href="people/">People</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-1 mr-1 rounded" href="./projects/">Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-1 mr-1 rounded" href="./publications/">Publications</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-1 mr-1 rounded" href="./news/">News</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-1 mr-1 rounded" href="./joinus/">Join Us</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
	<div class="container">
		<a class="navbar-brand" href="#">Cognition and Learning Lab</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link ml-1 mr-1 rounded" href="people/">People</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-1 mr-1 rounded" href="./projects/">Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-1 mr-1 rounded" href="./publications/">Publications</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-1 mr-1 rounded" href="./news/">News</a>
				</li>
				<li class="nav-item">
					<a class="nav-link ml-1 mr-1 rounded" href="./joinus/">Join Us</a>
				</li>
			</ul>
		</div>
	</div>
</nav> -->
